.authentication-container {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 5vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 2rem;

  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, #000000, #191919, #383838);
  background-repeat: no-repeat;
  background-size: cover;
}
.octaLogoImage {
  max-height: 80%;
  min-width: 45%;
  height: auto;
  object-fit: cover;
}

.styleWrittenLogo {
  display: none;
  height: 3rem;
  width: auto;
}

.form-login,
.form-set-pass {
  position: relative;
  width: 400px;
  height: 520px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.form-login *,
.form-set-pass * {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  color: #bbb5b5;
  /* color: #ffffff; */
}

.heading {
  color: #fff;
  padding-bottom: 1rem;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.label {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.invalid,
.input {
  display: block;
  height: 10%;
  width: 100%;
  border-radius: 3px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}

.input {
  background-color: #ffffff;
}

.invalid {
  outline: 1px solid crimson;
  background-color: rgb(209, 75, 102);
}

.password-indicator {
  width: 100%;
}

.error {
  color: rgb(209, 75, 102);
  font-size: 2rem;
}

.margin-password-indicator {
  margin-bottom: 6px;
}

.submit-box {
  margin-top: 55px;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 0.3s;
}

/*---------------- btn - back-and-forth-page-link-btn */

.back-and-forth-page-link-btn {
  display: flex;
  justify-content: center;
}

.back-and-forth-page-link-btn button {
  background-color: inherit;
  border-bottom: 1px solid #bbb5b5;
}

.back-and-forth-page-link-btn span {
  transition: 0.2s;
}
.back-and-forth-page-link-btn button:hover .login-btn-span {
  margin-left: 6px;
}
.back-and-forth-page-link-btn button:hover .reset-btn-span {
  margin-right: 6px;
}

@media (max-width: 850px) and (max-height: 700px) {
  .form-set-pass,
  .form-login {
    width: 260px;
    height: 400px;
  }

  .form-set-pass {
    padding-top: 25px;
  }

  .heading {
    padding-bottom: 0rem;
    font-size: 24px;
  }
  .submit-box {
    margin-top: 0px;
  }
  .button {
    /* margin-top: 35px; */
    font-size: 13px;
    font-weight: 600;
  }
  .label {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 650px) {
  .octaLogoImage {
    display: none;
  }

  .styleWrittenLogo {
    display: block;
  }
  .authentication-container {
    flex-direction: column;
    row-gap: 1rem;
  }
}
