.edit-modal-heading {
  font-size: 3rem;
}

.edit-modal-subtitle-box {
  margin-top: 4rem;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display-offers-container {
  display: flex;
  justify-content: center;
}

.selected-offer-placeholder {
  cursor: arrow;
}

.display-selected-offer {
  margin-bottom: 3rem;
  width: 100%;
}

.offers-list {
  list-style: none;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.offers-list-item {
  height: 3rem;
}
