.edit-modal-heading {
  font-size: 3rem;
}

.edit-modal-subtitle-box {
  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dates-container {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-column-gap: 10%;

  /* justify-content: space-between; */
  /* column-gap: 20%; */
}

.select-entry-date {
  /* grid-column: */
}

.select-DEL-date {
}
